body{
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#main{
    margin: auto;
}

#color-code{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    color: #00000090;
    margin: 0;
}

#color-button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    background-color: black;
    color: white;
    padding: 7px 10px;
}

#color-button:hover{
    cursor: pointer;
    background-color: #111;
}

#color-button:active{
    background-color: #2b2b2b;
    color: #fff;
}